.tools-bg{
  background: transparent;
  position: absolute;
  top:0px;
  left:0px;
  bottom: 0px;
  right: 0px;
  z-index: 0;
  overflow: hidden;
  font-family: "toolregular";
  font-size:300px;
  color: #E8E4DA;

  span{
    position: relative;
    // top:250px;
    line-height:0px;
    display:block;
    width: 300px;
    height: 300px;
    float:left;
  }

}


.outer-wrapper{
  z-index: 90!important;

  .notifications{
    z-index: 100!important;
  }
}
